<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sphinx.emf.mwe.dynamic.workflowContributors">
      <contributor
            pluginId="org.artop.ecuc.examples.autosar442.accessors.workflows">
      </contributor>
   </extension>

</plugin>
