<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.xtend.shared.ui.metamodelContributor">
      <metamodelContributor
            class="org.artop.ecuc.xtend.typesystem.ui.internal.EcucMetamodelContributor"
            name="ECU Configuration Typesystem">
      </metamodelContributor>
   </extension>
</plugin>
