<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) See4sys and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.artop.ecuc.gautosar.codegen.xpand.ui.actions.providers.EcucCodeGenActionProvider"
            id="org.artop.ecuc.gautosar.codegen.xpand.ui.ecucCodeGenActionProvider">
         <enablement>
	        <instanceof value="gautosar.gecucdescription.GModuleConfiguration" />
         </enablement>
      </actionProvider>
   </extension>
   <extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.artop.ecuc.gautosar.codegen.xpand.ui.preferences.EcucCodeGenerationPreferencePage"
         id="ecuc.codegen.propertyPages.ecucCodeGen"
         name="%ecuc.codegen.propertyPages.ecucCodeGen">
      <enabledWhen>
         <and>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.xtend.shared.ui.xtendXPandNature">
               </test>
            </adapt>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </test>
            </adapt></and>
      </enabledWhen>
   </page>
</extension>
</plugin>
