<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) itemis and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    itemis - Initial API and implementation

</copyright>
-->

<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.artop.aal.examples.explorer.views.autosarExplorer">
         <includes>
            <actionExtension
                  pattern="org.artop.ecuc.gautosar.codegen.xpand.ui.ecucAutoConfigureActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.artop.ecuc.examples.autosar40.transform.xtend.ui.ecucAutoConfigure40ActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.artop.ecuc.gautosar.codegen.xpand.ui.actions.providers.EcucAutoConfigureActionProvider"
            id="org.artop.ecuc.examples.autosar40.transform.xtend.ui.ecucAutoConfigure40ActionProvider">
         <enablement>
            <or>
               <instanceof
                     value="autosar40.system.fibex.fibexcore.coretopology.EcuInstance">
               </instanceof>
               <instanceof
                     value="autosar40.system.fibex.fibexcore.corecommunication.ISignalIPdu">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
