<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.artop.aal.examples.explorer.views.autosarExplorer">
         <includes>
            <actionExtension
                  pattern="org.artop.ecuc.codegen.xpand.ui.ecucCodeGenActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.artop.ecuc.examples.codegen.xpand.ui.convertToBSWPlatformProject"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.artop.ecuc.codegen.xpand.ui.actions.ConvertToBSWPlatformProjectAction"
               id="org.artop.ecuc.examples.codegen.xpand.ui.popupMenuActions.convertToBSWPlatformProject"
               label="%ecuc.examples.codegen.xpand.ui.popupMenuActions.convertToBSWPlatformProject.label">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
          <wizard
                category="org.artop.aal.workspace.ui.newWizards.category.autosar"
                class="org.artop.ecuc.codegen.xpand.ui.wizards.BSWPlatformProjectWizard"
                finalPerspective="org.artop.aal.examples.common.ui.perspectives.artop"
                icon="$nl$/icons/full/etool16/newbswpprj_wiz.gif"
                id="org.artop.ecuc.examples.codegen.xpand.ui.newWizards.bswPlatformProject"
                name="%ecuc.examples.codegen.xpand.ui.newWizards.bswPlatformProject.name"
                preferredPerspectives="org.artop.aal.examples.common.ui.perspectives.artop"
                project="true">
      </wizard>
   </extension>
</plugin>
