<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) See4sys and others.
All rights reserved. This program and the accompanying materials are made
available under the terms of the Artop Software License Based on AUTOSAR
Released Material (ASLR) which accompanies this distribution, and is
available at http://www.artop.org/aslr.html
 
Contributors: 
    See4sys - Initial API and implementation

</copyright>
-->

<plugin>
   <extension
         id="ecucCodeGen"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.artop.ecuc.examples.gautosar.codegen.xpand.headless.EcucCodeGenApplication">
         </run>
      </application>
   </extension>
   <extension
         id="ecuccodegen"
         name="ECUC CODEGEN"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.artop.ecuc.examples.gautosar.codegen.xpand.headless.ecucCodeGen"
            name="ECUC CODEGEN">
         <property
               name="appName"
               value="ECUC CODEGEN">
         </property>
      </product>
   </extension>
</plugin>
