<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="autosar40.util.Autosar40ReleaseDescriptor"
            class="org.artop.ecuc.autosar40.xtend.typesystem.internal.Autosar40ReleaseDescriptorAdapterFactory">
         <adapter
               type="org.artop.ecuc.gautosar.xtend.typesystem.IEcucMetaModelFactory">
         </adapter>
      </factory>
   </extension>

</plugin>
