<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.artop.ecl.emf.model.IModelDescriptor"
            class="org.artop.ecuc.gautosar.xtend.typesystem.internal.ModelDescriptorAdapterFactory">
         <adapter
               type="org.artop.ecuc.gautosar.xtend.typesystem.EcucMetaModel">
         </adapter>
      </factory>
   </extension>

</plugin>
