<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sphinx.emf.check.checkvalidator">
      <validator
            class="org.artop.ecuc.examples.autosar421.accessors.check.EcucValueAccessor421CheckValidator"
            model="model/EcucValueAcessors421.check">
      </validator>
   </extension>

</plugin>
