<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sphinx.emf.check.checkvalidators">
      <validator
            class="org.artop.ecuc.examples.autosar421.accessors.check.EcucValueAccessor421CheckValidator"
            catalog="model/EcucValueAcessors421.checkcatalog">
      </validator>
      <ePackageMapping
            packagaNamePrefix="org.artop.ecuc.autosar421.accessors"
            className="autosar40.ecucdescription.EcucdescriptionPackage">
      </ePackageMapping>
   </extension>
</plugin>
